/* style.css */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#content {
    position: relative;
    width: 100%;
    height: 100vh;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none; /* Todos os slides começam ocultos */
}

.slide.active {
    display: block; /* Mostra apenas o slide ativo */
}
